
.container {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    flex-basis: 1;
    max-width: 420px;
    background-image: url(../../assets/img/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em 0;
    justify-content: center;
    align-content: start;

}